<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.saributr.usbprobe" android:versionCode="10" android:versionName="1.5.4">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
  <application android:label="สาริบุตร อ่านบัตร 1.5.4" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="true" android:supportsRtl="true">
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
      <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="saributr-card" android:host="read"/></intent-filter>
    </activity>
  </application>
</manifest>
